<ul>
  <li><a href="">Home</a></li>
</ul>
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>


<div class="background">
  <form class="finder" action="service()">
    <input type="text" name="origins" placeholder="Origin">
    <input type="text" name="destinations" placeholder="Destination">

    <input type="submit" value="Transport me">
  </form>
</div>
<!--
<div class="map-window"></div> -->

<div class="price-point">
  <div class="Uber result">Uber</div>
  <div class="Lyft result">Lyft</div>
  <div class="Sidecar result">Sidecar</div>

  <div id="distance"></div>
</div>

